name: CI
on:
  pull_request:
  push:
    tags:
      - 'v*'
    paths-ignore:
      - '**/CHANGELOG.md'
      - '**/package.json'
      - '**/package-lock.json'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
    branches:
      - main
      - develop
  workflow_dispatch:

jobs:
  pre_run:
    name: Cancel previous runs
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@ad6cb1b847ffb509a69b745b6ee2f1d14dfe14b8
        with:
          access_token: ${{ github.token }}

  audit:
    name: Audit and format
    runs-on: ubuntu-latest
    needs: pre_run
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          components: rustfmt
          override: true

      - name: Set Cargo file permissions
        run: sudo chown -R $(whoami):$(id -ng) ~/.cargo/

      - name: Cache cargo
        uses: actions/cache@v2
        with:
          path: ~/.cargo/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dependencies
        run: cargo install cargo-audit

      - name: Run audit
        run: cargo audit --ignore RUSTSEC-2021-0076 --ignore RUSTSEC-2018-0015 --ignore RUSTSEC-2021-0124 --ignore RUSTSEC-2021-0119

      - name: Run rustfmt
        run: cargo fmt --all -- --check

  test:
    name: Run tests
    runs-on: ubuntu-latest
    needs: pre_run
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: llvm-tools-preview
          override: true

      - name: Cache cargo
        uses: actions/cache@v2
        id: cache-cargo
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dependencies
        if: steps.cache-cargo.outputs.cache-hit != 'true'
        run: cargo install grcov

      - name: Unit Tests
        env:
          RUSTFLAGS: "-Zinstrument-coverage"
          LLVM_PROFILE_FILE: "clarity-lsp-%p-%m.profraw"
        run: cargo build && cargo test

      - name: Generate coverage
        run: grcov . --binary-path ./target/debug/ -s . -t lcov --branch --ignore-not-existing --ignore "/*" -o lcov.info

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          flags: unittests
          name: clarity-lsp
          verbose: true

  dist:
    name: Build distributions
    runs-on: ${{ matrix.os }}
    needs: pre_run
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux-x64
            target: x86_64-unknown-linux-gnu
            linker_package:
            cc: ""
          - os: windows-latest
            platform: windows-x64
            target: x86_64-pc-windows-msvc
            linker_package:
            cc: ""
          - os: macos-latest
            platform: macos-x64
            target: x86_64-apple-darwin
            linker_package:
            cc: ""

    steps:
      - name: Configure git to use LF (Windows)
        if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          profile: minimal
          override: true

      - if: matrix.os == 'ubuntu-latest'
        run: sudo chown -R $(whoami):$(id -ng) ~/.cargo/

      - name: Cache cargo
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/${{ matrix.target }}/release/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release --locked --target ${{ matrix.target }}

      - name: Compress artifact (Not Windows)
        if: matrix.os != 'windows-latest'
        run: zip --junk-paths ${{ matrix.platform }} ./target/${{ matrix.target }}/release/clarity-lsp

      - name: Compress artifact (Windows)
        if: matrix.os == 'windows-latest'
        run: Compress-Archive -Path ./target/${{ matrix.target }}/release/clarity-lsp.exe -DestinationPath ${{ matrix.platform }}

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: clarity-lsp-${{ matrix.platform }}
          path: ${{ matrix.platform }}.zip

      - name: Unit Tests
        run: cargo test --release --locked --target ${{ matrix.target }}

      - name: Upload artifact to GH release
        uses: svenstaro/upload-release-action@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ matrix.platform }}.zip
          asset_name: clarity-lsp-${{ matrix.platform }}.zip
          tag: ${{ github.ref }}

      # Cleans the `./target` dir after the build such that only dependencies are cached on CI
      - name: Prepare cache
        run: cargo xtask pre-cache

  typescript:
    name: TypeScript
    runs-on: ubuntu-latest
    needs: pre_run
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Nodejs
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Install dependencies
        run: npm ci
        working-directory: ./editors/code

      - name: Audit
        run: npm audit
        working-directory: ./editors/code

      - name: Lint
        run: npm run lint
        working-directory: ./editors/code

      - name: Build extension
        run: npm run package --scripts-prepend-node-path
        working-directory: ./editors/code

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: clarity-lsp.vsix
          path: editors/code/clarity-lsp.vsix

      - name: Upload artifact to GH release
        uses: svenstaro/upload-release-action@v2
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: editors/code/clarity-lsp.vsix
          asset_name: clarity-lsp.vsix
          tag: ${{ github.ref }}

      - name: Publish extension
        if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'develop')
        working-directory: ./editors/code
        run: npx vsce publish --pat ${{ secrets.MARKETPLACE_TOKEN }} --packagePath clarity-lsp.vsix

  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    needs:
      - audit
      - dist
      - test
      - typescript
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Necessary for Semantic Release
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          SEMANTIC_RELEASE_PACKAGE: ${{ github.event.repository.name }}
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/exec
            @semantic-release/git
